<!DOCTYPE HTML>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Client home page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel = "stylesheet" href = "/css/clientHome.css" th:href="@{/css/clientHome.css}">


</head>

<body>

<div id="container">

    <div id="logo">
        <h1>Super baza dancyh</h1>
    </div>


    <div id="nav">
        <a href = "home" class = "navlink">Strona główna</a>
        <br />
        <br />
        <a href = "dane" target = "_blank" class = "navlink">Dane</a>
        <br />
        <br />
        <a href = "" target = "_blank" class = "navlink">Zamówienia</a>
        <br />
        <br />
        <form th:action="@{/client/logout}" method="post">
            <input type="hidden" value="Sign Out"/>
            <a href = "#" onclick="this.parentNode.submit()" class = "navlink">Wyloguj</a>
        </form>
    </div>

    <div id="content">

        <div th:each="zamowienie : ${zamowienia}">
            <td><h1 th:text="${zamowienie.nrZamowienia}"></h1></td>
            <span th:text="${zamowienie.dataZlozenia}">Data zlozenia</span>
            <span th:text="${zamowienie.statusZamowienia}">Status</span>
        </div>



    </div>


    <div id="footer">
        Made by Dadurex &copy; Wszelkie prawa zastrzeżone
    </div>

</div>

</body>
</html>