<!DOCTYPE HTML>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Employee home page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <style type="text/css">
        body { background: 	#ffffff !important; }
    </style>

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">SuperBazaDanych</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="personaldata">Dane</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="orders">Zamówienia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="store">Sklep</a>
                </li>

            </ul>
        </div>
        <form th:action="@{/employee/logout}" method="post">
            <input type="hidden" value="Sign Out"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Wyloguj</button>
        </form>
    </div>
</nav>


<div class = "container">
    <div class = "jumbotron">
        <div class="card">
            <div class="card-body">

                <div style="text-align: center">
                    <h5 class="card-title">Strona główna</h5>
                    <a href="http://www.elka.pw.edu.pl/" target="_blank">

                        <img src="https://i.ibb.co/mFYYXT7/elka.jpg" align="center"></a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>