<!DOCTYPE HTML>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Employee dane</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <style type="text/css">
        body { background: 	#ffffff !important; }
    </style>

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">SuperBazaDanych</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="personaldata">Dane</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="orders">Zamówienia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="store">Sklep</a>
                </li>

            </ul>
        </div>
        <form th:action="@{/employee/logout}" method="post">
            <input type="hidden" value="Sign Out"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Wyloguj</button>
        </form>
    </div>
</nav>


<div class = "container">
    <div class = "jumborton">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1200px-User_font_awesome.svg.png" width="150" height="150" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-6 col-md-8">
                                    <h4>
                                        <td th:text="${pracownik.imie}"></td>
                                        <td th:text="${pracownik.nazwisko}"></td>
                                    </h4>
                                    <h5>
                                        Stanowisko: <td th:text="${pracownik.stanowisko}"></td><br/>
                                        Magazyn: <td th:text="${pracownik.magazyn != null} ? ${pracownik.magazyn.nazwa} : ''"></td>
                                    </h5>

                                    <small><cite title="Adres">
                                        <td th:text="${pracownik.adres.ulica}"></td>
                                        <td th:text="${pracownik.adres.nrLokalu}"></td>
                                        <br>
                                        <td th:text="${pracownik.adres.miasto}"></td>
                                        <br>
                                        <td th:text="${pracownik.adres.kodPoczty}"></td>
                                        <td th:text="${pracownik.adres.poczta}"></td>

                                        <i class="glyphicon glyphicon-map-marker"></i>
                                    </cite></small>
                                    <p>
                                        <i class="glyphicon glyphicon-envelope"></i> <td th:text="${pracownik.telefon}"></td><br/>
                                        <i class="glyphicon glyphicon-envelope"></i><td th:text="${pracownik.dataUrodzenia}"></td>
                                    <br />
                                    </p>

                                    <button href = "#editModal"type="button" class="btn btn-primary" data-toggle="modal">Edytuj</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id = "editModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Edytuj swoje dane
                </h5>

            </div>

            <div class="modal-body">
                <form th:action="@{/employee/personaldata/update/{nrPracownika}(nrPracownika=${pracownik.nrPracownika})}"
                      th:object="${pracownik}" method="post">
                    <div class="form-group">
                        <label for="imie" class="col-form-label">Imie:</label>
                        <input type="text" class="form-control" id="imie" th:value="${pracownik.imie}" th:name="imie">
                    </div>

                    <div class="form-group">
                        <label for="nazwisko" class="col-form-label">Nazwisko:</label>
                        <input type="text" class="form-control" id="nazwisko" th:value="${pracownik.nazwisko}" th:name="nazwisko">
                    </div>

                    <div class="form-group">
                        <label for="telefon" class="col-form-label">Telefon:</label>
                        <input type="text" class="form-control" id="telefon" th:value="${pracownik.telefon}" th:name="telefon">
                    </div>

                    <div class="form-group">
                        <label for="pass" class="col-form-label">Password (jeśli puste pozostaje bez zmian):</label>
                        <input type="text" class="form-control" id="pass" vale="" th:name="*{password}">
                    </div>

                    <div class="form-group">
                        <label for="miasto" class="col-form-label">Miasto:</label>
                        <input type="text" class="form-control" id="miasto" th:value="${pracownik.adres.miasto}" th:name="adres.miasto">
                    </div>

                    <div class="form-group">
                        <label for="ulica" class="col-form-label">Ulica:</label>
                        <input type="text" class="form-control" id="ulica" th:value="${pracownik.adres.ulica}" th:name="adres.ulica">
                    </div>

                    <div class="form-group">
                        <label for="nrLokalu" class="col-form-label">Numer lokalu:</label>
                        <input type="text" class="form-control" id="nrLokalu" th:value="${pracownik.adres.nrLokalu}" th:name="adres.nrLokalu">
                    </div>

                    <div class="form-group">
                        <label for="kodPoczty" class="col-form-label">Kod poczty:</label>
                        <input type="text" class="form-control" id="kodPoczty" th:value="${pracownik.adres.kodPoczty}" th:name="adres.kodPoczty">
                    </div>

                    <div class="form-group">
                        <label for="poczta" class="col-form-label">Poczta:</label>
                        <input type="text" class="form-control" id="poczta" th:value="${pracownik.adres.poczta}" th:name="adres.poczta">
                    </div>

                    <br/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <input type="submit" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>



</body>

</html>