#container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#logoname {
    color: white;
    float: left;
    font-size: 20px;
    width: 1000px;
    text-align: center;
}

#logologout {
    color: white;
    float: left;
    font-size: 10px;
    text-align: right;
}

#nav {
    float: left;
    background-color: lightgray;
    width: 120px;
    min-height: 540px;
    padding: 10px;
}

#content {
    float: left;
    padding: 20px;
    width: 1220px;
    min-height: 500px;
    background-color: light-blue;
}

#footer {
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.navlink {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}
